.alias
.aws-sam
.clasp.json
.DS_Store
.env
.idea
.jest
.project
.vscode
**/**/src/*.js
**/**/src/*.js.map
**/**/src/**/*.js
/**/*.db
/**/.clasp.json
/**/.DS_Store
/**/.idea
/**/.vscode
/**/yarn.lock
/domains/*/coverage
*.cjs
*.db
*.d.ts
*.js.map
*.mjs
*.snap
*.tsbuildinfo
aws-sam
dist
node-layer
node_modules
nodejs
package.lock
temp
yarn-error.log
yarn.lock
.yarn
.yarnrc.yml
