<div class=\"panel\" style=\"background-color: #E3FCEF; border-width: 1px; border-color: #36B37E;\">
    <div class=\"panelContent\">
        <h3>🐞 Bug Fixes</h3>
    </div>
</div>
<table>
    <tr>
        <th style="text-align: center;"><b>Ticket ID</b></th>
        <th style="text-align: center;"><b>Summary</b></th>
        <th style="text-align: center;"><b>Impact</b></th>
        <th style="text-align: center;"><b>Additional Resources</b></th>
        <th style="text-align: center;"><b>Stakeholder Highlight</b></th>
    </tr>
    <!--BUGS-->
</table>
<div class=\"panel\" style=\"background-color: #DEEBFF; border-width: 1px; border-color: #0052CC;\">
    <div class=\"panelContent\">
        <h3>🚀 Improvements</h3>
    </div>
</div>
<table>
    <tr>
        <th style="text-align: center;"><b>Ticket ID</b></th>
        <th style="text-align: center;"><b>Summary</b></th>
        <th style="text-align: center;"><b>Impact</b></th>
        <th style="text-align: center;"><b>Additional Resources</b></th>
        <th style="text-align: center;"><b>Stakeholder Highlight</b></th>
    </tr>
    <!--IMPROVEMENTS-->
</table>